<head>

	<title>{{ .Title }} | PINE UCM</title>
	<link rel="stylesheet" href="/css/main.css" />

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

	<!-- Google Tracking -->
	{{ if not .Site.IsServer }}
		<!-- Google Analytics -->
		<!-- {{ template "_internal/google_analytics.html" . }} -->

		<!-- Google Tag Manager -->
		{{ if (isset .Site.Params "googletagmanager") }}
			<script>
				dataLayer= window.dataLayer = window.dataLayer || [];
				dataLayer.push({
					"page": "{{ .Title }}"
				});
			</script>

			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','{{ .Site.Params.googleTagManager }}');
			</script>
		{{ end }}

	{{ end }}

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#76b814">
	<meta name="msapplication-TileColor" content="#00a300">
	<meta name="theme-color" content="#ffffff">

	<!-- Open Graph -->
	{{ template "_internal/opengraph.html" . }}

	<!-- Twitter -->
	{{ template "_internal/twitter_cards.html" . }}

	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
