<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa1 db mr4 h-100 w3 flex-none">
		<img src="/img/logo-black.svg" alt="PINE logo" class="br0 db mb0 w-100"/>
	</a>

	<ul class="flex flex-row items-stretch b grey-3 self-stretch">
    {{ range .Site.Menus.main }}
    <li>
			 <a class="h-100 no-underline items-center flex" href="{{ .URL }}" title="{{ .Title }}">
				 <p class="pa3 mb0 no-underline v-mid"> {{ .Name }} </p>
			 </a>
		</li>
    {{ end }}
	</ul>

</nav>
