<div class="ph2">

	<!-- Title -->
	<h3 class="b f5 grey-3 tc lh-title mb3">{{.heading}}</h3>

	<!-- Price -->
	<!-- <p class="primary f1 b tc lh-title center">
		<span class="f4">$</span>{{.price}}
	</p> -->

	<!-- Image -->
	<img class="h4 center db mb3 w-100" src="{{ .imageUrl }}" style="object-fit: cover">

	<!-- Description -->
	<p class="b">{{.description}}</p>

	<!-- Features -->
	{{ with .items }}
	<ul>
		{{ $itemCount := len . }}
		{{ range $index, $item := . }}
		<li>
			<p class="{{ if ne (add 1 $index) $itemCount }}pb2 mb2 divider-grey{{ end }}">{{ $item }}</p>
		</li>
		{{ end }}
	</ul>
	{{ end }}

</div>
