<!doctype html>
<html lang="en">
  {{ partial "head" . }}
  <body class="sans-serif">
    {{ if (and (isset .Site.Params "googletagmanager") (not .Site.IsServer)) }}
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.googleTagManager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    {{ end }}
    {{ partial "nav" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}
  </body>
</html>
