{{ define "main" }}

  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "Mon, 2 Jan 2006" }}</p>
      <p>Read in {{ .ReadingTime }} minutes</p>
    </div>
    <div class="cms mw6">
      {{ if .Params.image }}
        <p>{{ .Description }}</p>
        <img src="{{ .Params.image }}" alt="{{ .Title }}" />
      {{ else }}
        <p class="b--primary bb bw3 pb3">{{ .Description }}</p>
      {{ end }}
      {{ .Content }}
    </div>
  </div>
{{ end }}
